prefer-dedupe = true
save-exact=true
save-prefix=
# sign-git-tag=true

# disable extra output
fund=false
update-notifier=false

# github
//npm.pkg.github.com/:_authToken=$GITHUB_TOKEN
# @org:registry=https://npm.pkg.github.com
