[Unit]
Description=WAV: PulseAudio Update daemon
After=dbus.target

[Service]
ExecStart={{ user_home }}/.local/bin/pa-server.py
Restart=always
Type=simple
